absl-py
aiofiles
aiohappyeyeballs
aiohttp
anthropic
beautifulsoup4
chromadb
fastapi
firebase-admin
google-ai-generativelanguage
google-generativeai
langchain-anthropic
langchain-openai
langchain-community
langchain-core
numpy
openai
pandas
pillow
pydantic
python-dotenv
requests
scikit-learn
sentence-transformers
torch
transformers
unstructured
uvicorn